<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-book"></span>
            Online Quiz Portal
        </a>

        
    </div>

</div>
</nav>